.root {
    display: inline-flex;
    outline: none;
    min-width: 64px;
    padding: 10px 16px;
    text-transform: uppercase;
    color: var(--white);
    min-height: 36px;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.default {
    background-color: var(--black);
    border: 1px solid var(--white);
    transition: all 0.2s;
    &:hover {
        border-color: var(--green);
    }
}

.primary {
    background-color: var(--black);
    border: none;
    color: var(--white);
    border: 1px solid var(--green);
    transition: all 0.2s;
}
