.root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1124px;
    margin: 0 auto;
}

.tabContent {
    display: flex;
}

.tabs {
    display: flex;
    min-height: 340px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.tabHeader {
    margin-bottom: var(--space-1);
}

.title {
    color: var(--color-gray-text);
}

.company {
    cursor: pointer;
    color: var(--green);
}

.range {
    margin-bottom: var(--space-3);
    color: var(--gray);
}

.workWith {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 15px;
}