:root {
    --border-radius: 4px;
    --skill: #141414;
    --indicator: #625E5E;
    --black: #141414;
    --shadow: rgba(2,12,27,0.7);
    --divider: #13131e;
    --color-text: #F4F2F2;
    --line: #625E5E;
    --white: rgba(255, 255, 255);
    --dark-green: rgb(130, 249, 161);
    --tab-height: 42px;
    --tab-width: 120px;
    --gray: #D9D9D9;
    --green: #30DDA9;
    --font-roboto: "Roboto", sans-serif;
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-sx: 12px;
    --line-height-loose: 1.75;
    --line-height-normal: 1.5;
    --line-height-dense: 1.1;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 64px;
    --size-content: 54rem;
    --size-gutter: var(--space-5);
    --size-gap: var(--space-6);
    --transition: all 0.3s;
  }
