.root {
    max-width: 1124px;
    margin: 0 auto;
}

.about {
    display: flex;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    color: var(--gray);
}

.card {
    margin-bottom: 24px;
}