.root {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    color: var(--gray);
    max-width: 380px;
}