.root {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: .3s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: var(--tab-width);
    height: var(--tab-height);
    padding: 8px 20px;
    border-left: 2px solid var(--indicator);
    background-color: transparent;
    color: var(--slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    text-align: left;
    white-space: nowrap;
    cursor: pointer;

    @media (max-width: 768px) {
        border-left: none;
        border-bottom: 2px solid var(--indicator);
        justify-content: center;
    }

    &:hover {
        color: var(--green);
        background-color: var(--skill);
    }
}

.active {
    color: var(--green);
}