.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--black);
    backdrop-filter: blur(5px);
    height: 80px;
    z-index: 20;
}

.nav {
    display: flex;
    margin-right: 16px;
    @media (max-width: 768px) {
        display: none;
    }
}
