.root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1124px;
    margin: 0 auto;
}

.tabContent {
    display: flex;
}

.tabs {
    display: flex;
    min-height: 340px;
}

.higlight {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 2px;
  height: var(--tab-height);
  border-radius: var(--border-radius);
  background: var(--green);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.1s;
}

.tabsList {
    position: relative;
}

.tabHeader {
    margin-bottom: var(--space-1);
}

.title {
    color: var(--color-gray-text);
}

.company {
    cursor: pointer;
    color: var(--green);
}

.range {
    margin-bottom: var(--space-3);
    color: var(--gray);
}

.workWith {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 15px;
}